
.unslider{
	margin:auto;
	padding:0;
	position: relative;
	margin-top:80px;
	height:500px;

	

}



.unslider-wrap{
	position:relative;
	height:500px;
	overflow:hidden;

	

}


.unslider-wrap.unslider-carousel>li{
	float:left;

}


.unslider-vertical>ul{
	height:100%;
}

.unslider-vertical li{
	float:none;
	width:100%
}

.unslider-fade{
	position:relative
}

.unslider-fade .unslider-wrap li{
	position:absolute;
	left:0;
	top:0;
	right:0;
	z-index:0
}


.unslider-fade .unslider-wrap li.unslider-active{
	z-index:0;
}


.unslider li,.unslider ol,.unslider ul{
	list-style:none;
	margin:0;
	padding:0;
	border:none;
}


.unslider-arrow{
	position:absolute;
	left:20px;
	top:65%;
	z-index:50;
	cursor:pointer;
	height:10px;
	
}




.unslider-arrow.next{
	left:auto;
	right:20px;
}


.unslider img{
	width:100%;

}





@media only screen and (max-width: 720px) {




.unslider{
	height:350px;

	

}



.unslider-wrap{
	height:350px;
	

}




}



















